Django==6.0.8
dj-database-url==3.0.1
duckdb==1.5.5
gunicorn==23.0.0
google-genai==2.18.0
jieba
pandas==3.0.5
psycopg[binary]==3.3.5
python-dotenv==1.2.2
requests==2.32.5
scipy==1.18.1
segno==1.6.1
whitenoise==6.12.0
